@model IEnumerable<prjVegetable.Models.CProductWrap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}
<style>
        table {
            width: 100%; /* 使表格佔滿容器的寬度 */

            table-layout: fixed; /* 使用固定布局讓欄位寬度平均 */
         }

        th, td {
            text-align: center; /* 使所有欄位內容居中 */
         }
</style>

<h1>商品資料列表</h1>
<br />
@using (Html.BeginForm())
{
    @:搜尋 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢" class="btn btn-primary">
}
<br />
<p>
    <a asp-action="Create" class="btn btn-outline-primary">新增資料</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FImgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FClassification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDescription)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.FIntroduction)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.FQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FLaunchAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FStorage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FLaunch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEditor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FName)
                </td>
                <td>
                    <div>
                        @if (item.ImgList.Any())
                        {
                            <div class="">
                                <img src="~/Images/@item.ImgList.First()" class="w-50 d-inline-block" alt="Product Image" />
                            </div>
                        }
                        @* @foreach (var imgName in item.ImgList)
                        {
                            <div class="col-md-1">
                                <img src="~/Images/@imgName" class="w-75 d-inline-block " alt="Product Image" />
                            </div>
                        } *@
                    </div>
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FClassification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FDescription)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.product.FIntroduction)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.product.FQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FLaunchAt)
                </td>
                <td>
                    @if (item.product.FStorage == 0)
                    {
                        @:冷凍
                    }
                    else if (item.product.FStorage == 1)
                    {
                        @:冷藏
                    }
                    else if (item.product.FStorage == 2)
                    {
                        @:常溫
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FOrigin)
                </td>
                <td>
                    @if (item.product.FLaunch == 0)
                    {
                        @:下架
                    }
                    else if (item.product.FLaunch == 1)
                    {
                        @:上架
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FEditor)
                </td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.FId">編輯資料</a><br /> *@
                    <a asp-action="Details" asp-route-id="@item.FId">詳細資料</a><br />
                    @Html.ActionLink("移除", "Delete", "Products", new { id = item.product.FId },
                             new { onclick = "return confirm('確定要刪除嗎?')" })
                </td>
            </tr>
        }
    </tbody>
</table>
