@model IEnumerable<prjVegetable.Models.CProductWrap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}
<style>
    table {
        width: 100%; /* 使表格佔滿容器的寬度 */

        table-layout: fixed; /* 使用固定布局讓欄位寬度平均 */
    }

    th, td {
        text-align: center; /* 使所有欄位內容居中 */
    }
</style>

<h1>商品資料列表</h1>
@* <br />
@using (Html.BeginForm())
{
    @:搜尋 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢" class="btn btn-primary">
}
<br /> *@
<p>
    <a asp-action="Create" class="btn btn-outline-primary">新增資料</a>
</p>
<table id="List" class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FImgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FClassification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrice)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.FDescription)
            </th> *@
            @* <th>
                @Html.DisplayNameFor(model => model.FIntroduction)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.FQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FLaunchAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FStorage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FLaunch)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FName)
                </td>
                <td>
                    <div>
                        @if (item.ImgList.Any())
                        {
                            <div class="">
                                <img src="~/Images/@item.ImgList.First()" class="w-50 d-inline-block" alt="Product Image" />
                            </div>
                        }
                       
                    </div>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FClassification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FPrice)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.product.FDescription)
                </td> *@
                @* <td>
                    @Html.DisplayFor(modelItem => item.product.FIntroduction)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.product.FQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FLaunchAt)
                </td>
                <td>
                    @if (item.product.FStorage == 0)
                    {
                        @:冷凍
                    }
                    else if (item.product.FStorage == 1)
                    {
                        @:冷藏
                    }
                    else if (item.product.FStorage == 2)
                    {
                        @:常溫
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FOrigin)
                </td>
                <td>
                    @if (item.product.FLaunch == 0)
                    {
                        @:下架
                    }
                    else if (item.product.FLaunch == 1)
                    {
                        @:上架
                    }
                </td>
                
                <td>
                    <a asp-action="Details" asp-route-id="@item.product.FId" class="btn btn-secondary mb-2">詳細資料</a><br />
                   @*  @Html.ActionLink("移除", "Delete", "Products", new { id = item.product.FId },
                             new { onclick = "return confirm('確定要刪除嗎?')" }) *@
                    <a href="javascript:void(0);" class="delete-btn btn btn-danger" data-id="@item.product.FId">移除</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".delete-btn").forEach(button => {
                button.addEventListener("click", function () {
                    let productId = this.getAttribute("data-id"); // 取得產品ID

                    Swal.fire({
                        title: "確定要刪除嗎？",
                        text: "刪除後將無法恢復！",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#d33",
                        cancelButtonColor: "#3085d6",
                        confirmButtonText: "是的，刪除！",
                        cancelButtonText: "取消"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // 轉址到刪除動作
                            window.location.href = `/Products/Delete/${productId}`;
                        }
                    });
                });
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            $('#List').DataTable({
                "paging": true, // 啟用分頁
                "lengthChange": false, // 允許用戶改變每頁顯示數量
                "searching": true, // 啟用搜尋
                "ordering": true, // 啟用排序
                "info": true, // 顯示資訊
                "autoWidth": false, // 禁用自動調整寬度
                "language": {
                    "emptyTable": "目前沒有任何資料",
                    "lengthMenu": "顯示 _MENU_ 筆資料",
                    "zeroRecords": "沒有符合的資料",
                    "info": "顯示第 _START_ 到 _END_ 筆，共 _TOTAL_ 筆",
                    "infoEmpty": "",
                    "infoFiltered": "(從 _MAX_ 筆資料過濾)",
                    "search": "搜尋：",
                    "paginate": {
                        "first": "第一頁",
                        "last": "最後一頁",
                        "next": "下一頁",
                        "previous": "上一頁"
                    }
                },
                "lengthMenu": [5, 10, 25, 50], // 選擇每頁顯示 5, 10, 25, 50 筆
                "lengthChange": true, // 允許改變筆數
                "columnDefs": [
                    { "orderable": false, "targets": [-1] }
                ],
                "order": []
            });
        });
    </script>
}



