@model prjVegetable.Models.CReportWrap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CReportWrap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FDescription)
        </dt>
        <dd class="col-sm-10" style="white-space: pre-wrap;">
            @Html.DisplayFor(model => model.FDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="List">返回列表</a>
</div>
