@model IEnumerable<prjVegetable.Models.CReportWrap>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>List</h1>


<table class="table" id="List">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPersonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTime)
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPersonId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FTime)
                    </td>
                    <td>
                        @Html.ActionLink("詳細資訊", "Details", new { id = item.FId }) 
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@section Scripts {

    <script>
        $(document).ready(function () {
            $('#List').DataTable({
                "paging": true, // 啟用分頁
                "lengthChange": false, // 允許用戶改變每頁顯示數量
                "searching": true, // 啟用搜尋
                "ordering": true, // 啟用排序
                "info": true, // 顯示資訊
                "autoWidth": false, // 禁用自動調整寬度
                "language": {
                    "emptyTable": "目前沒有任何資料",
                    "lengthMenu": "顯示 _MENU_ 筆資料",
                    "zeroRecords": "沒有符合的資料",
                    "info": "顯示第 _START_ 到 _END_ 筆，共 _TOTAL_ 筆",
                    "infoEmpty": "",
                    "infoFiltered": "(從 _MAX_ 筆資料過濾)",
                    "search": "搜尋：",
                    "paginate": {
                        "first": "第一頁",
                        "last": "最後一頁",
                        "next": "下一頁",
                        "previous": "上一頁"
                    }
                },
                "lengthMenu": [5, 10, 25, 50], // 選擇每頁顯示 5, 10, 25, 50 筆
                "lengthChange": true, // 允許改變筆數
                "columnDefs": [
                    { "orderable": false, "targets": [-1] }
                ],
                "order":[]
            });
        });
    </script>

}