@model prjVegetable.Models.CProductWrap

@{
    ViewData["Title"] = "ProductItem";
}



<div class="container pb-5 mt-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    @{
                        int count = 0;
                        @foreach (var image in Model.ImgList)
                        {
                            count++;
                            <div class="carousel-item @(count == 1 ? "active" : "")">
                                <img src="~/Images/@Html.DisplayFor(modelItem => image)" class="d-block w-100" alt="...">
                            </div>

                        }
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="col-12 mt-3 d-flex justify-content-start">
                @for (int i = 0; i < Model.ImgList.Count; i++)
                {
                    <div class="col-2">
                        <img src="@Url.Content("~/Images/" + Model.ImgList[i])" class="img-thumbnail mx-2 thumbnail" style="width: 80px; height: 80px;" data-bs-target="#imageCarousel" data-bs-slide-to="@i" alt="Thumbnail @i">
                    </div>
                }
            </div>

        </div>
        <div class="col-12 col-md-6 ">
            <div class="fs-2 fw-bold">@Model.FName</div>
            <div class="text-secondary py-3 ">
                <p class="my-0">@Model.product.FDescription</p>
            </div>
            <div>
                <p class="text-danger fs-2 fw-bold">@Model.product.FPrice</p>
            </div>
            <div>
                <p>商品編號:</p>
            </div>
            <div>
                <p>供貨狀況: 尚有庫存</p>
            </div>

            <div class="btn-group my-3 col-md-12 " role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-secondary add-down  col-md-2 ">-</button>

                <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                       aria-describedby="button-addon1">
                <!-- <input type="text" class="btn  btn-outline-secondary item-quantity  col-md-8 " name="quantity" value="1"
                  data-old-value="1"> -->

                <button type="button" class="btn btn-outline-secondary add-up  col-md-2 ">+</button>
            </div>


            <div class="row justify-content-center pb-4">
                <div class="col-12 col-md-6">
                    <button type="button" class="btn btn-outline-secondary ">加入購物車</button>
                </div>
                <div class="col-12 col-md-6">
                    <button type="button" class="btn btn-secondary bg-primary ">立即購買</button>
                </div>
            </div>

            <div class="">
                <button type="button" class="btn btn-outline-secondary rounded-pill"><i class="bi bi-heart"></i> 加入最愛</button>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="introduction-tab" data-bs-toggle="tab" data-bs-target="#introduction"
                            type="button" role="tab" aria-controls="introduction" aria-selected="true">
                        商品介紹
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                            role="tab" aria-controls="profile" aria-selected="false">
                        運送方式
                    </button>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="introduction" role="tabpanel" aria-labelledby="introduction-tab">
                    .111
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">222</div>

            </div>
        </div>
    </div>
</div>