@model prjVegetable.Models.CProductWrap

@{
    ViewData["Title"] = "ProductItem";
    var productDescription = Model.FIntroduction.Replace(Environment.NewLine, "<br>");
}

<style>
    .carousel-control-prev,
    .carousel-control-next {
        width: 50px; /* 調整按鈕大小 */
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色圓底 */
        border-radius: 50%; /* 讓背景變成圓形 */
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(1); /* 讓箭頭變成白色 */
        width: 20px; /* 調整箭頭大小 */
        height: 20px;
    }
    
    
    .quantity {
        width: 170px;
        display: flex;
        border: 2px solid #8D8266;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    }

    .quantity button {
        background-color: #8D8266;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 20px;
        width: 40px;
        height: auto;
        text-align: center;
        transition: background-color 0.2s;
    }

    .quantity button:hover {
        background-color: #2980b9;
    }

    .input-box {
        width: 100px;
        text-align: center;
        border: none;
        padding: 8px 10px;
        font-size: 16px;
        outline: none;
    }

    /*隱藏數字框的上下箭頭 */
    .input-box::-webkit-inner-spin-button,
    .input-box::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .input-box[type="number"] {
        -moz-appearance: textfield;
    }

    .star-averating i {
        font-size: 1.5rem;
        margin-right: 5px;
        color: #ffc107 !important;
    }

    .star-rating i {
        color: #ffc107 !important;
    }

</style>

<div class="container">
    <!-- 麵包屑 start -->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">
                    首頁
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="@Url.Action("ProductList", "Product")">
                    產品列表
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="@Url.Action("ProductList", "Product", new { category = @Model.FClassification })">
                    @Model.FClassification
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@Model.FName</li>
        </ol>
    </nav>

</div>

<div class="container pb-5 mt-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators m-0">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <div class="carousel-inner">
                    @{
                        int count = 0;
                        @foreach (var image in Model.ImgList)
                        {
                            count++;
                            <div class="carousel-item @(count == 1 ? "active" : "")">
                                <img src="~/Images/@Html.DisplayFor(modelItem => image)" class="d-block w-100" alt="...">
                            </div>
                        }
                    }
                </div>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="col-12 d-flex justify-content-start">
                @for (int i = 0; i < Model.ImgList.Count; i++)
                {
                    <div class="col-2">
                        <img src="@Url.Content("~/Images/" + Model.ImgList[i])" class="img-thumbnail mx-2 thumbnail" style="width: 80px; height: 80px;" data-bs-target="#imageCarousel" data-bs-slide-to="@i" alt="Thumbnail @i">
                    </div>
                }
            </div>

        </div>
        <div class="col-12 col-md-6 ">
            <div class="fs-2 fw-bold">@Model.FName</div>
            <div>
                <p class="text-danger fs-2 fw-bold m-0">NT$@Model.product.FPrice</p>
            </div>
            <div class="text-secondary">
                <p class="my-0">@Model.product.FDescription</p>
            </div>
            <div class="quantity col-12 col-md-6 my-3">
                <button class="minus" aria-label="Decrease">&minus;</button>
                <input type="number" class="input-box" value="1" min="1" max="10">
                <button class="plus" aria-label="Increase">&plus;</button>
            </div>
            <div class="row justify-content-center pb-4">
                <div class="col-12 col-md-4">
                    <button type="button" class="btn addToCartButtonItem btn-outline-secondary" data-productid="@Model.FId">
                        <i class="bi bi-cart"></i>加入購物車
                    </button>
                </div>
                <div class="col-12 col-md-4">
                    <button type="button" class="btn  heartButton btn-outline-secondary rounded-pill" data-productid="@Model.FId">
                        <i class="heart-icon @((Model.IsFavorite) ? "bi-heart-fill text-danger" : "bi-heart")"></i> 加入最愛
                    </button>
                </div>
                <div class="col-12 col-md-4">
                    <button type="button" class="btn buyNowButtonItem btn-secondary bg-primary w-100" data-productid="@Model.FId">
                        立即購買
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="introduction-tab" data-bs-toggle="tab" data-bs-target="#introduction"
                            type="button" role="tab" aria-controls="introduction" aria-selected="true">
                        商品介紹
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                            role="tab" aria-controls="profile" aria-selected="false">
                        顧客評價 (@{
                            if (Model.CommentList != null)
                            {
                                @Model.CommentList.Count()
                            }
                            else
                            {

                            }
                        })
                    </button>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="introduction" role="tabpanel" aria-labelledby="introduction-tab">
                    @*  @if (!string.IsNullOrEmpty(Model.FOrigin))
                    {
                    <iframe width="100%" height="400"
                    src="https://www.google.com/maps/embed/v1/place?key=YOUR_API_KEY&q=@Uri.EscapeDataString(Model.FOrigin)"
                    allowfullscreen>
                    </iframe>
                    } *@
                    @Html.Raw(Model.FIntroduction.Replace(Environment.NewLine, "<br>"))
                </div>

                <!-- 顧客評論範例 -->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="reviews-section">
                        <div class="average-rating">
                            @* <h5>平均評分: @Model.AverageStar.ToString("0.0") ⭐</h5> *@
                            <h5 class="d-inline-flex">平均評分 @Model.AverageStar.ToString("0.0")</h5>
                            <p class="d-inline-flex star-averating">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= Math.Floor(Model.AverageStar)) // 滿星
                                    {
                                        <i class="bi bi-star-fill"></i>
                                    }
                                    else if (i - 0.5 <= Model.AverageStar && Model.AverageStar < i) // 半星
                                    {
                                        <i class="bi bi-star-half"></i>
                                    }
                                    else // 空星
                                    {
                                        <i class="bi bi-star"></i>
                                    }
                                }
                            </p>
                        </div>
                        @if (Model.CommentList != null && Model.CommentList.Any())
                        {
                            @foreach (var comment in Model.CommentList.Take(5))
                            {
                                <div class="media  d-flex justify-content-between border-bottom pb-1 mb-3">
                                    <div class="media-body">
                                        <h5 class="media-heading user_name">
                                            <i class="fi fi-rr-man-head me-3" style="font-size: 2rem;"></i>
                                            @comment.FPersonName
                                        </h5>
                                        <p class="review-text">@comment.FComment</p>
                                        <p class="star-rating">
                                            <small>
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= comment.FStar)
                                                    {
                                                        <i class="bi bi-star-fill"></i>
                                                    }
                                                    else if (i == comment.FStar + 0.5)
                                                    {
                                                        <i class="bi bi-star-half"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="bi bi-star"></i>
                                                    }
                                                }
                                            </small>
                                        </p>
                                    </div>
                                    <p class="pull-right"><small>@comment.FCreatedAt.ToString("yyyy-MM-dd")</small></p>
                                </div>
                            }
                        }
                        else
                        {
                            <p>目前沒有任何評論。</p>
                        }
                    </div>
                    <button id="load-more-reviews" class="btn btn-link" onclick="loadMoreReviews()">
                        <i class="bi bi-chevron-down"></i> 顯示更多評論
                    </button>

                    @* <div class="add-comment mt-4">
                    <h5>添加評論</h5>

                    <form id="add-comment-form">
                    <div class="form-group">
                    <label for="user-name">姓名</label>
                    <input type="text" class="form-control" id="user-name" value="@User.Identity.Name" readonly>
                    </div>
                    <div class="form-group">
                    <label for="user-comment">您的評論</label>
                    <textarea class="form-control" id="user-comment" rows="4" placeholder="撰寫您的評論" required></textarea>
                    </div>
                    <div class="form-group">
                    <label for="user-rating">評分</label>
                    <div id="user-rating" class="star-rating">
                    <i class="bi bi-star" data-value="1"></i>
                    <i class="bi bi-star" data-value="2"></i>
                    <i class="bi bi-star" data-value="3"></i>
                    <i class="bi bi-star" data-value="4"></i>
                    <i class="bi bi-star" data-value="5"></i>
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary">提交評論</button>
                    </form>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {


            //  商品增減數量 //
            const quantityContainer = document.querySelector(".quantity");
            const minusBtn = quantityContainer.querySelector(".minus");
            const plusBtn = quantityContainer.querySelector(".plus");
            const inputBox = quantityContainer.querySelector(".input-box");

            updateButtonStates();

            quantityContainer.addEventListener("click", handleButtonClick);
            inputBox.addEventListener("input", handleQuantityChange);

            function updateButtonStates() {
                const value = parseInt(inputBox.value);
                minusBtn.disabled = value <= 1;
                plusBtn.disabled = value >= parseInt(inputBox.max);
            }

            function handleButtonClick(event) {
                if (event.target.classList.contains("minus")) {
                    decreaseValue();
                } else if (event.target.classList.contains("plus")) {
                    increaseValue();
                }
            }

            function decreaseValue() {
                let value = parseInt(inputBox.value);
                value = isNaN(value) ? 1 : Math.max(value - 1, 1);
                inputBox.value = value;
                updateButtonStates();
                handleQuantityChange();
            }

            function increaseValue() {
                let value = parseInt(inputBox.value);
                value = isNaN(value) ? 1 : Math.min(value + 1, parseInt(inputBox.max));
                inputBox.value = value;
                updateButtonStates();
                handleQuantityChange();
            }

            function handleQuantityChange() {
                let value = parseInt(inputBox.value);
                value = isNaN(value) ? 1 : value;

                // 可以在這裡處理根據更新後的數量進行的操作
                console.log("數量已更改:", value);
            }



            //我的最愛
            $(".heartButton").click(function (event) {
                event.stopPropagation();

                var heartIcon = $(this).find(".heart-icon");
                var productId = $(this).data("productid");
                var isFavorite = heartIcon.hasClass("bi-heart-fill");
                var currentUrl = window.location.href

                // 檢查是否已登入
                $.ajax({
                    url: '@Url.Action("CheckLogin", "Product")',
                    type: 'GET',
                    success: function (response) {
                        if (!response.isLoggedIn) {
                            $('#LoginModal').modal('show');
                            $("#LoginModal").on('shown.bs.modal', function () {
                                $('input[name="returnUrl"]').val(currentUrl);
                            });
                        } else {
                            $.ajax({
                                url: '@Url.Action("AddToFavorites", "Product")',
                                type: 'POST',
                                data: { productId: productId, isFavorite: !isFavorite },
                                success: function (response) {
                                    console.log(response);

                                    if (response.success) {
                                        if (response.isFavorite) {
                                            heartIcon.removeClass("bi-heart").addClass("bi-heart-fill text-danger");
                                        } else {
                                            heartIcon.removeClass("bi-heart-fill text-danger").addClass("bi-heart");
                                        }
                                    } else {
                                        alert('操作失敗');
                                    }
                                },
                                error: function () {
                                    alert('出現錯誤');
                                }
                            });
                        }
                    },
                    error: function () {
                        alert('檢查登入狀態時出現錯誤');
                    }
                });

                event.preventDefault();
            });


            //加入購物車
            $(".addToCartButtonItem, .buyNowButtonItem").click(function (event) {
                event.stopPropagation();

                // 禁用按鈕防止重複點擊
                var button = $(this);
                button.prop('disabled', true);

                var isBuyNow = button.hasClass('btn-secondary');
                var productId = button.data("productid");
                var currentUrl = window.location.href;
                var quantityInput = button.closest('.row').prev('.quantity').find('.input-box');
                var quantity = quantityInput.val();

                // 如果數量無效或超出範圍，提示錯誤
                if (!quantity || isNaN(quantity) || quantity < 1 || quantity > 10) {
                    alert('請輸入有效的數量（1-10）');
                    button.prop('disabled', false);
                    return;
                }

                // 檢查用戶是否登入
                $.ajax({
                    url: '@Url.Action("CheckLogin", "Product")',
                    type: 'GET',
                    success: function (response) {
                        if (!response.isLoggedIn) {
                            $('#LoginModal').modal('show');
                            $("#LoginModal").on('shown.bs.modal', function () {
                                $('input[name="returnUrl"]').val(currentUrl);
                            });
                            button.prop('disabled', false);
                        } else {
                            if (isBuyNow) {
                                $.ajax({
                                    url: '@Url.Action("AddToCart", "Product")',
                                    type: 'POST',
                                    data: { productId: productId, quantity: quantity },
                                    success: function (response) {
                                        if (response.success) {
                                            window.location.href = '@Url.Action("Cart", "Cart")';
                                        } else {
                                             alert('操作失敗: ' + response.message);
                                        }
                                        button.prop('disabled', false);
                                    },
                                    error: function () {
                                        alert('出現錯誤');
                                        button.prop('disabled', false);
                                    }
                                });
                            } else {
                                $.ajax({
                                    url: '@Url.Action("AddToCart", "Product")',
                                    type: 'POST',
                                    data: { productId: productId, quantity: quantity },
                                    success: function (response) {
                                        if (response.success) {
                                            alert("成功加入購物車");
                                        } else {
                                            alert('操作失敗');
                                        }
                                        button.prop('disabled', false);
                                    },
                                    error: function () {
                                        alert('出現錯誤');
                                        button.prop('disabled', false);
                                    }
                                });
                            }
                        }
                    },
                    error: function () {
                        alert('檢查登入狀態時出現錯誤');
                        button.prop('disabled', false);
                    }
                });

                event.preventDefault();
            });



            //星星
             $(document).ready(function () {
                // 當用戶點擊星星
                $("#user-rating i").click(function () {
                    // 清除所有星星的選中狀態
                    $("#user-rating i").removeClass("bi-star-fill text-warning").addClass("bi-star");

                    // 添加選中的星星樣式
                    $(this).prevAll().addClass("bi-star-fill text-warning");  // 更改前面所有星星為 fill
                    $(this).addClass("bi-star-fill text-warning");  // 更改當前星星為 fill

                    // 記錄當前選中的星星數量（對應評分）
                    var rating = $(this).data("value");
                    console.log("選擇的評分是: " + rating);

                    // 可以將選中的星星數量保存到隱藏欄位或其他地方，然後用來提交
                    $("#user-rating").data("rating", rating);  // 將評分保存在 rating 屬性中
                });
            });

            //隱藏姓名
            function displayName(name) {
                if (!name || name.length === 0) {
                    return ''; // 如果姓名為空，返回空字符串
                }

                if (name.length === 1) {
                    return name; // 只有一個字符，直接返回
                }

                if (name.length === 2) {
                    return name[0] + "*"; // 兩個字符，只保留首個
                }

                // 對於長度大於2的情況
                var firstChar = name[0];
                var lastChar = name[name.length - 1];
                var maskedMiddle = new Array(name.length - 2 + 1).join('*'); // 隱藏中間字符
                return firstChar + maskedMiddle + lastChar;
            }

            //送出表單
            $("#add-comment-form").submit(function (event) {
                event.preventDefault();  // 防止表單默認提交

                var commentText = $("#user-comment").val();  // 獲取評論內容
                var star = $("#user-rating .bi-star-fill").last().data("value");  // 獲取選中的星星評分
                var productId = @Model.FId;  // 假設從模型中獲取產品 ID
                var currentUrl = window.location.href;  // 獲取當前頁面 URL

                // 檢查用戶是否登入
                $.ajax({
                    url: '@Url.Action("CheckLogin", "Product")',  // 路徑改為你的控制器方法
                    type: 'GET',
                    success: function (response) {
                        console.log(response);  // 輸出登入狀態，便於調試
                        if (!response.isLoggedIn) {
                        // 如果未登入，顯示登入模態框
                        $('#LoginModal').modal('show');

                        // 當登入模態框顯示時，將當前 URL 設置到返回的隱藏輸入框中
                        $("#LoginModal").on('shown.bs.modal', function () {
                            $('input[name="returnUrl"]').val(currentUrl);
                        });
                        } else {
                            // 用戶已登入，提交評論
                            $.ajax({
                                url: '@Url.Action("AddComment", "Product")',
                                type: 'POST',
                                data: {
                                    productId: productId,
                                    comment: commentText,
                                    star: star
                                },
                                success: function (response) {
                                    if (response.success) {
                                        alert('評論提交成功！');
                                        // 可選：刷新頁面顯示新評論，或將新評論添加到當前頁面
                                        location.reload();
                                    } else {
                                        alert('操作失敗，請稍後再試');
                                    }
                                },
                                error: function () {
                                    alert('出現錯誤，請稍後再試');
                                }
                            });
                        }
                    },
                    error: function () {
                        alert('檢查登入狀態時出現錯誤');
                    }
                });
            });



           




        });
    </script>
}