@model IEnumerable<prjVegetable.Models.CPurchaseWrap>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>採購單管理</h1>
@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢">
}
<p>

    <a asp-action="Create">新增採購單</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FBuyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FSupplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FSupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FBuyer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FIsTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FInvoiceForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCreater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEditor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPreTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FNote)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @{
            int count = 0;
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FBuyDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FSupplierId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FSupplierName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FBuyer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FExpirationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIsTax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FInvoiceForm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPayment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FCreater)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FEditor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPreTax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FTax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FNote)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id = item.FId }) |
                        @Html.ActionLink("刪除", "Delete", new { id = item.FId }, new { onclick = "return confirm('確定要刪除嗎?')" })
                    </td>
                </tr>
            }



        }

    </tbody>
</table>
