@model IEnumerable<prjVegetable.Models.CPurchaseWrap>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>採購單管理</h1>
@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    <button type="submit" class="btn btn-warning">查詢</button>
}
<div class="mt-3 mb-3">
    <a href="@Url.Action("Create")" class="btn btn-primary">新增採購單</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FBuyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FProviderId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FInvoiceForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPayment)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FEditor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPreTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FNote)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @{
            int count = 0;
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FBuyDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FProviderId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FInvoiceForm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPayment)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FEditor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPreTax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FTax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FNote)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.FId })" class="btn btn-success">修改</a>
                        <a href="@Url.Action("Delete", new { id = item.FId })" class="btn btn-danger" onclick="return confirm('確定要刪除嗎?');">刪除</a>
                    </td>
                </tr>
            }



        }

    </tbody>
</table>
