@model prjVegetable.Models.TPerson

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TPerson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPermission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPermission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEmp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FEmp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEmpTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FEmpTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEditor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FEditor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
