@model prjVegetable.Models.TPerson

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TPerson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPUinvoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPUinvoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPEmp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPEmp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPTelEmptel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPTelEmptel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPEditor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPEditor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FPId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
