@model IEnumerable<prjVegetable.Models.TPerson>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>員工資料維護</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">新增員工資料</a>
</p>
<div class="col-9">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FPName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPAccount)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.FPPhone)
                </th>               
                
                <th>
                    @Html.DisplayNameFor(model => model.FPStatus)
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPAccount)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.FPPhone)
                    </td>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.FPStatus)
                    </td>
                    
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FPId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.FPId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.FPId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

