@model IEnumerable<prjVegetable.Models.TPerson>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>員工資料維護</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">新增員工資料</a>
</p>
<div class="col-9">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FAccount)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.FPhone)
                </th>               
                
                <th>
                    @Html.DisplayNameFor(model => model.FPermissiion)
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FAccount)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.FPhone)
                    </td>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.FPermissiion)
                    </td>
                    
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.FId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.FId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

