@model IEnumerable<prjVegetable.Models.CPurchaseDetailWrap>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>採購明細管理</h1>
@using (Html.BeginForm())
{
    @:請輸入採購號碼: @Html.TextBox("txtKeyword")
    <button type="submit" class="btn btn-warning">查詢</button>
}
<div class="mt-3 mb-3">
    <a href="@Url.Action("Create")" class="btn btn-primary">新增採購單</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPurchaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FSum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            @foreach (var item in Model)
            {
                count++;

                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPurchaseId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FProductId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FSum)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.FId })" class="btn btn-success">修改</a>
                        <a href="@Url.Action("Delete", new { id = item.FId })" class="btn btn-danger" onclick="return confirm('確定要刪除嗎?');">刪除</a>
                    </td>
                </tr>
            }


        }
    </tbody>
</table>
