@model IEnumerable<team_20241228.Models.CTPurchaseDetailWrap>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>採購明細</h1>
@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢">
}
<p>
    <a asp-action="Create">新增採購單明細</a>
</p>
<table class="table">
    <thead>
        <tr>
@*             <th>
                @Html.DisplayNameFor(model => model.FId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.FPurchaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FSum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            @foreach (var item in Model)
            {
                count++;

                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPurchaseId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FSum)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id = item.FId }) |
                        @Html.ActionLink("刪除", "Delete", new { id = item.FId }, new { onclick = "return confirm('確定要刪除嗎?')" })
                    </td>
                </tr>
            }


        }
    </tbody>
</table>
