@model prjVegetable.Models.CProductWrap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>詳細資料</h1>

<div>
    <h4>TProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FClassification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.FClassification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.FPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.FDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.FQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FLaunchAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.FLaunchAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FStorage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.FStorage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.FOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEditor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product.FEditor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-primary">回商品列表</a>
    <a asp-action="Edit" asp-route-id="@Model?.FId" class="btn btn-primary">編輯資料</a> |
    
</div>
