<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vege人 首頁</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">
    @*
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    *@
</head>
<body>
    <!-- 導覽列 navbar Start-->
    <main class="flex-shrink-0 ">
        <header>
            <nav id="navbar" class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top bg-white mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/VegeLogo.png" alt="Vege人" height="100px">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-lg-0 mt-3">
                            <li class="nav-item me-4">
                                <a class="nav-link" href="/">首頁</a>
                            </li>
                            <li class="nav-item me-4">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ProductList">產品列表</a>
                            </li>
                            <li class="nav-item me-4">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">關於我們</a>
                            </li>
                            <li class="nav-item me-4">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Faq">常見問題</a>
                            </li>
                            <li class="nav-item me-4">
                                <a class="nav-link" asp-area="" asp-controller="ERP" asp-action="Index">ERP_TEST</a>
                            </li>
                        </ul>
                        <!-- 購物車 & 登入圖示 -->
                        <div class="d-flex d-none d-md-block nav-icon ms-auto">
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#contactUsModal">
                                <i class="bi bi-chat-fill fs-4 me-3"></i>
                            </a>
                            @if (TempData.Peek("LogedIn321") != null)
                            {
                                <a asp-controller="Customer" asp-action="Index">
                                    <i class="bi bi-person-fill fs-4 me-3"></i>
                                </a>
                            }
                            else
                            {
                                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#LoginModal">
                                    <i class="bi bi-person-fill fs-4 me-3"></i>
                                </a>
                            }
                            <a data-bs-toggle="offcanvas" href="#offcanvasCart" role="button"
                               aria-controls="offcanvasExample"><i class="bi bi-bag-fill nav-icon fs-4 me-3"></i></a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container pt-4 mt-5">
            @RenderBody()
        </div>
    </main>

    <!-- footer Start-->
    <footer class="bg-primary py-4 mt-5 text-center text-white">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex align-items-center" data-aos="fade-left">
                        <p class="text-start footer-logo mt-4 ps-4 pe-2 mb-0">VEGE_人</p>
                        <a class="fs-2 mt-4 ms-4" asp-controller="Social" asp-action="Facebook"><i class="bi bi-facebook footer-icon"></i></a>
                        <a class="fs-2 mt-4 ms-4" asp-controller="Social" asp-action="Instagram"><i class="bi bi-instagram footer-icon"></i></a>
                        <a class="fs-2 mt-4 ms-4" asp-controller="Social" asp-action="Map"><i class="bi bi-map-fill footer-icon"></i></a>
                    </div>
                    <div class="row text-start mt-5 pb-3">
                        <div class="col-4" data-aos="fade-left">
                            <div>
                                <a class="footer-title-link" asp-controller="Product" asp-action="ProductList">產品列表</a>
                            </div>
                            <div>
                                <a class="d-block footer-link my-4 mb-1 ps-1" asp-controller="Products" asp-action="Vegetables">好吃蔬菜</a>
                                <a class="d-block footer-link ps-1" asp-controller="Products" asp-action="Fruits">新鮮水果</a>
                            </div>
                        </div>
                        <div class="col-4" data-aos="fade-left" data-aos-duration="700">
                            <div>
                                <a class="footer-title-link" asp-controller="Home" asp-action="About">關於我們</a>
                            </div>
                            <div>
                                <a class="d-block footer-link my-4 mb-1 ps-1" asp-controller="Home" asp-action="About">我們的願景</a>
                                <a class="d-block footer-link mb-1 ps-1" asp-controller="About" asp-action="Team">團隊成員</a>
                                <a class="d-block footer-link mb-1 ps-1" asp-controller="About" asp-action="Rss">rss訂閱</a>
                            </div>
                        </div>
                        <div class="col-4" data-aos="fade-left" data-aos-duration="1000">
                            <div>
                                <a class="footer-title-link" asp-controller="Home" asp-action="Faq">常見問題</a>
                            </div>
                            <div>
                                <a class="d-block footer-link my-4 mb-1 ps-1" asp-controller="" asp-action="" data-bs-toggle="modal" data-bs-target="#contactUsModal">聯繫我們</a>
                                <a class="d-block footer-link mb-1 ps-1" asp-controller="Policy" asp-action="Refund">退款政策</a>
                                <a class="d-block footer-link mb-1 ps-1" asp-controller="Home" asp-action="Faq">FAQ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 d-flex align-items-end justify-content-end" data-aos="fade-up">
                    <img class="float-start pe-4 footer-icon" src="~/images/VegeLogoWhite.png" alt="Logo">
                </div>
            </div>
            <div class="row mt-4" data-aos="fade-left">
                <hr>
                <div class="col-3 text-start">Copyrgiht@GoodMorning</div>
                <div class="col-9"></div>
            </div>
        </div>
    </footer>
    <!-- footer End-->

    <!-- up to top btn-->
    <button onclick="topFunction()" id="up-to-top" title="Go to top"><i class="bi bi-arrow-up fs-3"></i></button>

    <!-- 購物車側邊攔展開 start -->
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart" aria-labelledby="My Cart">
        <div class="offcanvas-header justify-content-center">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">購物車(3)</span>
                </h4>
                <div class="cart-card my-2">
                    <div class="row g-0 d-flex align-items-center px-2 py-2">
                        <div class="col-md-2 image-container">
                            <img class="cart-card-img" src="./images/06.jpg" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="cart-card-body">
                                <h5 class="cart-card-title px-3 mb-1">暖纖毛室內拖鞋/棕</h5>
                                <p class="cart-card-price px-3">NT$200</p>
                            </div>
                        </div>
                        <div class="col-md-4 ps-2">
                            <div class='ctrl'>
                                <div class='ctrl__button ctrl__button--decrement'>&ndash;</div>
                                <div class='ctrl__counter'>
                                    <input class='ctrl__counter-input' maxlength='10' type='text' value='0'>
                                    <div class='ctrl__counter-num'>0</div>
                                </div>
                                <div class='ctrl__button ctrl__button--increment'>+</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-card my-2">
                    <div class="row g-0 d-flex align-items-center px-2 py-2">
                        <div class="col-md-2 image-container">
                            <img class="cart-card-img" src="./images/02.jpg" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="cart-card-body">
                                <h5 class="cart-card-title px-3 mb-1">烏龍茶</h5>
                                <p class="cart-card-price px-3">NT$280</p>
                            </div>
                        </div>
                        <div class="col-md-4 ps-2">
                            <div class='ctrl'>
                                <div class='ctrl__button ctrl__button--decrement'>&ndash;</div>
                                <div class='ctrl__counter'>
                                    <input class='ctrl__counter-input' maxlength='10' type='text' value='0'>
                                    <div class='ctrl__counter-num'>0</div>
                                </div>
                                <div class='ctrl__button ctrl__button--increment'>+</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-card my-2">
                    <div class="row g-0 d-flex align-items-center px-2 py-2">
                        <div class="col-md-2 image-container">
                            <img class="cart-card-img" src="./images/04.jpg" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="cart-card-body">
                                <h5 class="cart-card-title px-3 mb-1">大沙發/灰</h5>
                                <p class="cart-card-price px-3">NT$150</p>
                            </div>
                        </div>
                        <div class="col-md-4 ps-2">
                            <div class='ctrl'>
                                <div class='ctrl__button ctrl__button--decrement'>&ndash;</div>
                                <div class='ctrl__counter'>
                                    <input class='ctrl__counter-input' maxlength='10' type='text' value='0'>
                                    <div class='ctrl__counter-num'>0</div>
                                </div>
                                <div class='ctrl__button ctrl__button--increment'>+</div>
                            </div>
                        </div>
                        <hr class="w-100 mt-4">
                        <button onclick="location.href='@Url.Action("Cart", "Home")'" class="w-100 btn btn-primary btn-lg" type="submit">結帳</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 聯絡我們 Start -->
    <div class="modal fade" id="contactUsModal" tabindex="-1" aria-labelledby="contactUsModalLabel" aria-hidden="true">
        <div class="modal-dialog contact-width modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactUsModalLabel">聯絡我們</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row py-2">
                        <!-- 左側填寫欄位 -->
                        <div class="col-md-7 ps-4">
                            <form id="contactForm" class="p-4 form-section" novalidate>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="lastName" class="form-label">
                                            姓氏 <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="請填寫姓氏" data-placeholder="請填寫姓氏" required>
                                        <div class="invalid-feedback">請填寫姓氏</div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="firstName" class="form-label">
                                            名字 <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="請填寫名字" data-placeholder="請填寫名字" required>
                                        <div class="invalid-feedback">請填寫名字</div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">
                                        Email <span class="text-danger">*</span>
                                    </label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="請填寫Email" data-placeholder="請填寫Email" required>
                                    <div class="invalid-feedback">請填寫正確的Email</div>
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">
                                        手機 <span class="text-danger">*</span>
                                    </label>
                                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="0978-000-000" data-placeholder="0978-000-000" required>
                                    <div class="invalid-feedback">請填寫正確的手機號碼</div>
                                </div>
                                <div class="mb-3">
                                    <label for="questionType" class="form-label">
                                        問題種類 <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-select" id="questionType" name="questionType" required>
                                        <option value="" selected disabled>請選擇問題種類</option>
                                        <option value="login">帳號或登入問題</option>
                                        <option value="transaction">交易或訂單問題</option>
                                        <option value="product">商品問題</option>
                                        <option value="suggest">建議</option>
                                        <option value="other">其他</option>
                                    </select>
                                    <div class="invalid-feedback">請選擇問題種類</div>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">
                                        問題描述 <span class="text-danger">*</span>
                                    </label>
                                    <textarea class="form-control" id="description" name="description" rows="4" placeholder="請描述您的問題" data-placeholder="請描述您的問題" required></textarea>
                                    <div class="invalid-feedback">請描述您的問題</div>
                                </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary very-width">送出</button>
                                </div>
                            </form>
                        </div>

                        <!-- 右側資訊欄 -->
                        <div class="col-md-5 px-4">
                            <div class="info-section">
                                <div class="mb-4">
                                    <h5>電子信箱</h5>
                                    <p>表單送出後，您的建議/問題會寄到這裡，我們將在三個工作日內回覆。</p>
                                    <a href="#" class="text-decoration-none">VegeP2258@gmail.com</a>
                                </div>
                                <hr>
                                <div class="mb-4">
                                    <h5>連絡電話</h5>
                                    <p>平日 09:00-12:00</p>
                                    <a href="#" class="text-decoration-none">0978-446-461、07-7255849 轉 222</a>
                                </div>
                                <hr>
                                <div class="mb-4">
                                    <h5>公司地址</h5>
                                    <p>平日 09:00-17:00，來辦公室坐坐。</p>
                                    <a href="https://maps.app.goo.gl/BPoJnKZRxsTiGLmY9" class="text-decoration-none">801 高雄市前金區中正四路211號8樓之1</a>
                                </div>
                                <hr>
                                <div class="mb-4">
                                    <h5>社群</h5>
                                    <p>歡迎關注我們的社群獲得最新消息！</p>
                                    <a href="https://www.instagram.com/ispan_educate/" class="text-decoration-none">Vege人的Instergram</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 聯絡我們 End-->

    <!-- 登入 Start -->
    <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LoginModalLabel">會員登入</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="Login" asp-controller="Account" class="needs-validation" novalidate>
                        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                        <div class="form-group mb-3">
                            @Html.TextBox("txtAccount", "", new { HtmlAttributes = new { @class = "from-control" } })
                        </div>
                        <div class="my-5"></div>
                        <div class="form-group mb-3">
                            @Html.TextBox("txtPassword", "", new { HtmlAttributes = new { @class = "from-control" } })
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input me-1" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">記住我</label>
                            </div>
                            <div class="d-flex login">
                                <a href="" class="text-end me-3">忘記密碼</a>
                                <a href="@Url.Action("Register", "Home")" class="text-end">立即註冊</a>
                            </div>
                        </div>
                        <div class="text-center" style="margin-top: 80px;">
                            <input type="submit" value="登入" class="btn btn-primary w-100 mb-4">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 登入 End-->
    


    <!-- Script 段落-->
    <!-- 購物車功能 Start -->
    <script>
        (function () {
            'use strict';
            function ctrls() {
                var _this = this;
                this.counter = 0;
                this.els = {
                    decrement: document.querySelector('.ctrl__button--decrement'),
                    counter: {
                        container: document.querySelector('.ctrl__counter'),
                        num: document.querySelector('.ctrl__counter-num'),
                        input: document.querySelector('.ctrl__counter-input')
                    },
                    increment: document.querySelector('.ctrl__button--increment')
                };
                this.decrement = function () {
                    var counter = _this.getCounter();
                    var nextCounter = (_this.counter > 0) ? --counter : counter;
                    _this.setCounter(nextCounter);
                };
                this.increment = function () {
                    var counter = _this.getCounter();
                    var nextCounter = (counter < 9999999999) ? ++counter : counter;
                    _this.setCounter(nextCounter);
                };
                this.getCounter = function () {
                    return _this.counter;
                };
                this.setCounter = function (nextCounter) {
                    _this.counter = nextCounter;
                };
                this.debounce = function (callback) {
                    setTimeout(callback, 100);
                };
                this.render = function (hideClassName, visibleClassName) {
                    _this.els.counter.num.classList.add(hideClassName);
                    setTimeout(function () {
                        _this.els.counter.num.innerText = _this.getCounter();
                        _this.els.counter.input.value = _this.getCounter();
                        _this.els.counter.num.classList.add(visibleClassName);
                    }, 100);
                    setTimeout(function () {
                        _this.els.counter.num.classList.remove(hideClassName);
                        _this.els.counter.num.classList.remove(visibleClassName);
                    }, 200);
                };
                this.ready = function () {
                    _this.els.decrement.addEventListener('click', function () {
                        _this.debounce(function () {
                            _this.decrement();
                            _this.render('is-decrement-hide', 'is-decrement-visible');
                        });
                    });
                    _this.els.increment.addEventListener('click', function () {
                        _this.debounce(function () {
                            _this.increment();
                            _this.render('is-increment-hide', 'is-increment-visible');
                        });
                    });
                    _this.els.counter.input.addEventListener('input', function (e) {
                        var parseValue = parseInt(e.target.value);
                        if (!isNaN(parseValue) && parseValue >= 0) {
                            _this.setCounter(parseValue);
                            _this.render();
                        }
                    });
                    _this.els.counter.input.addEventListener('focus', function (e) {
                        _this.els.counter.container.classList.add('is-input');
                    });
                    _this.els.counter.input.addEventListener('blur', function (e) {
                        _this.els.counter.container.classList.remove('is-input');
                        _this.render();
                    });
                };
            };
            // init
            var controls = new ctrls();
            document.addEventListener('DOMContentLoaded', controls.ready);
        })();
    </script>
    <!-- 購物車功能 End -->

    <!--up to top-->
    <script>
        // Get the button:
        let mybutton = document.getElementById("up-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.classList.add("show");
            } else {
                mybutton.classList.remove("show");
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

    <!-- 選擇文字框時，隱藏 placeholder 文字-->
    <script>
        // 當文字框獲得焦點時，隱藏 placeholder 文字
        document.querySelectorAll('.form-control').forEach(input => {
            input.addEventListener('focus', function () {
                this.setAttribute('placeholder', ''); // 清除 placeholder
            });

            // 當文字框失去焦點時，顯示 placeholder 文字
            input.addEventListener('blur', function () {
                if (!this.value) {
                    this.setAttribute('placeholder', this.getAttribute('data-placeholder')); // 恢復 placeholder
                }
            });
        });
    </script>
    @{
        if (TempData["ErrorMessage"] != null)
        {
            <script>

                alert("帳號密碼錯誤，請重試一次");

                var myModal = new bootstrap.Modal(document.getElementById('LoginModal'));
                myModal.show();

            </script>
        }
    }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          AOS.init();
        });
    </script>
    <script>
         document.addEventListener('DOMContentLoaded', () => {
            'use strict';

            const contactForm = document.getElementById('contactForm');

            contactForm.addEventListener('submit', (event) => {
                if (!contactForm.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }

                contactForm.classList.add('was-validated'); // 加入驗證樣式
            });

            // 重置表單驗證狀態
            const resetForm = () => {
                contactForm.reset(); // 清空表單資料
                contactForm.classList.remove('was-validated'); // 移除驗證樣式
            };

            // 當 Modal 關閉時重置表單
            const modal = document.getElementById('contactUsModal');
            modal.addEventListener('hidden.bs.modal', resetForm);
        });
    </script>
</body>
</html>