@using System.Text.Json
@model prjVegetable.ViewModels.CERPIndexViewModel
@{
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
    ViewData["Title"] = "Index";
}
@section Styles {

    <style>
        .card {
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

    </style>
}
<section class="section dashboard p-4">
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-7 ms-auto">
            <div class="row">
                <!-- 會員 -->
                <div class="col-md-4">
                    <div class="card info-card mt-3 h-100">
                        <div class="card-body ">
                            <h5 class="card-title fw-bold fs-5">會員數</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center me-3">
                                    <i class="bi bi-people-fill display-6"></i>
                                </div>
                                <h3 id="Members" class="flex-grow-1 text-center m-0"></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End 會員 -->
                <!-- 平均訂單 -->
                <div class="col-md-4">
                    <div class="card info-card  position-relative mt-3 h-100">
                        <div class="filter position-absolute top-0 end-0 p-2">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" id="AvgOrderTotalsList">
                                <li class="dropdown-header text-start">
                                    <h6>篩選</h6>
                                </li>
                                <li><a class="dropdown-item" href="#">當日</a></li>
                                <li><a class="dropdown-item" href="#">當月</a></li>
                                <li><a class="dropdown-item" href="#">當年</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold fs-5">平均訂單金額 <span id="AvgOrderTotalsDate">| 當日</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center me-3">
                                    <i class="bi bi-currency-dollar display-6"></i>
                                </div>
                                <h3 id="AvgOrderTotal" class="flex-grow-1 text-center m-0"></h3>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <i class="bi bi-dash text-secondary" id="AvgOrderTotalsPercentage"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End 平均訂單 -->
                <!-- 訂單 -->
                <div class="col-md-4">
                    <div class="card info-card sales-card position-relative mt-3 h-100">
                        <div class="filter position-absolute top-0 end-0 p-2">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" id="OrdersList">
                                <li class="dropdown-header text-start">
                                    <h6>篩選</h6>
                                </li>
                                <li><a class="dropdown-item" href="#">當日</a></li>
                                <li><a class="dropdown-item" href="#">當月</a></li>
                                <li><a class="dropdown-item" href="#">當年</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title fw-bold fs-5">訂單數 <span id="OrdersDate">| 當日</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center me-3">
                                    <i class="bi bi-cart-check-fill display-6"></i>
                                </div>
                                <h3 id="Orders" class="flex-grow-1 text-center m-0"></h3>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <i class="bi bi-dash text-secondary" id="OrdersPercentage"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End 訂單 -->
            </div>
            <!-- Start 折線圖一年會員數 -->
            <!-- 會員人數 -->
            <div class="col-12 mt-4">
                <div class="card">
                    <div class="filter position-absolute top-0 end-0 p-2">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" id="MembersList">
                            <li class="dropdown-header text-start">
                                <h6>篩選</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">最近一個月內</a></li>
                            <li><a class="dropdown-item" href="#">最近一年內</a></li>
                            <li><a class="dropdown-item" href="#">不限</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fs-5 fw-bold">會員數 <span id="MembersDate">| 不限</span></h5>
                        <!-- Line Chart -->
                        <div id="LineChart"></div>
                        <!-- End Line Chart -->
                    </div>
                </div>
            </div>
            <!-- End 折線圖一年會員數 -->
            <div class="row">
                <!-- 銷售排行 -->
                <div class="col-md-6">
                    <div class="card top-selling overflow-auto mt-3" style="min-height:220px;">
                        <div class="filter position-absolute top-0 end-0 p-2">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" id="SalesRankList">
                                <li class="dropdown-header text-start">
                                    <h6>篩選</h6>
                                </li>
                                <li><a class="dropdown-item" href="#">不限</a></li>
                                <li><a class="dropdown-item" href="#">當月</a></li>
                                <li><a class="dropdown-item" href="#">當年</a></li>
                            </ul>
                        </div>
                        <div class="card-body pb-0">
                            <h5 class="card-title fw-bold fs-5">銷售排行 <span id="SalesRankDate">| 當月</span></h5>
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col" class="fs-6">序</th>
                                        <th scope="col" class="fs-6">產品名稱</th>
                                        <th scope="col" class="fs-6">數量</th>
                                        <th scope="col" class="fs-6">金額</th>
                                    </tr>
                                </thead>
                                <tbody id="SalesRank">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End 銷售排行 -->
                </div>
                <!-- 最受歡迎 -->
                <div class="col-md-6">
                    <div class="card top-like overflow-auto mt-3" style="min-height:220px;">

                        <div class="card-body pb-0">
                            <h5 class="card-title fw-bold fs-5">最受歡迎商品</h5>
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col" class="fs-6">序</th>
                                        <th scope="col" class="fs-6">產品名稱</th>
                                        <th scope="col" class="fs-6">收藏數</th>
                                        <th scope="col" class="fs-6">評價</th>
                                    </tr>
                                </thead>
                                <tbody id="LikesRank">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End 最受歡迎 -->
                </div>
            </div>
        </div>
        <!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-3 me-auto">
            <!-- 通知 -->
            <div class="card mt-3">
                <div class="card-body pb-1">
                    <h5 class="card-title fs-5 fw-bold py-0 mb-0">通知</h5>
                    <div id="notification" style="height: 250px; overflow-y: auto;">

                        <i class="bi bi-check-circle-fill text-success"></i>
                        <div>
                            <h3>沒有需要處理的訂單</h3>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End 通知 -->
            <!-- 類別銷量 -->
            <div class="card mt-3">
                <div class="filter position-absolute top-0 end-0 p-2">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" id="SalesClassList">
                        <li class="dropdown-header text-start">
                            <h6>篩選</h6>
                        </li>
                        <li><a class="dropdown-item" href="#">不限</a></li>
                        <li><a class="dropdown-item" href="#">當月</a></li>
                        <li><a class="dropdown-item" href="#">當年</a></li>
                    </ul>
                </div>
                <div class="card-body pb-0">
                    <h5 class="card-title fw-bold fs-5">類別銷量 <span id="SalesClassDate">| 不限</span></h5>
                    <div id="PieChart" style="min-height: 400px;"></div>
                </div>
            </div>
            <!-- End 類別銷量 -->
        </div><!-- End Right side columns -->
    </div>
</section>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- 會員數據卡片 -->
    <script>
        const TotalMembers = @Model.TotalMembers;
        let Members = document.getElementById("Members");
        Members.innerHTML = TotalMembers.toLocaleString();
    </script>

    <!--訂單平均金額-->
    <script>
        let AvgOrderTotal = document.getElementById("AvgOrderTotal");
        let AvgOrderTotalsList = document.getElementById("AvgOrderTotalsList");
        let AvgOrderTotalsPercentage = document.getElementById("AvgOrderTotalsPercentage");
        let AvgOrderTotalsDate = document.getElementById("AvgOrderTotalsDate");

        // 確保數據格式正確
        const AvgOrderTotalsYear = @Json.Serialize(Model.AvgOrderTotalsYear);
        const AvgOrderTotalsMonth = @Json.Serialize(Model.AvgOrderTotalsMonth);
        const AvgOrderTotalsDay = @Json.Serialize(Model.AvgOrderTotalsDay);

        const AvgOrderTotalsPercentageYear = @ViewBag.AvgOrderTotalsPercentageYear;
        const AvgOrderTotalsPercentageMonth = @ViewBag.AvgOrderTotalsPercentageMonth;
        const AvgOrderTotalsPercentageDay = @ViewBag.AvgOrderTotalsPercentageDay;

        // 根據百分比變化更新顯示
        function AvgOrderTotalsPercentageDisplay(percentage) {
            if (percentage > 0) {
                AvgOrderTotalsPercentage.classList.remove("text-secondary");
                AvgOrderTotalsPercentage.classList.remove("text-danger");
                AvgOrderTotalsPercentage.classList.add("text-success");
                AvgOrderTotalsPercentage.innerHTML = `${percentage.toFixed(1)}%`;
                AvgOrderTotalsPercentage.classList.remove("bi-dash");
                AvgOrderTotalsPercentage.classList.remove("bi-caret-down-fill");
                AvgOrderTotalsPercentage.classList.add("bi-caret-up-fill");
            }
            else if (percentage == 0) {
                AvgOrderTotalsPercentage.classList.remove("text-success");
                AvgOrderTotalsPercentage.classList.remove("text-danger");
                AvgOrderTotalsPercentage.classList.add("text-secondary");
                AvgOrderTotalsPercentage.innerHTML = `${percentage.toFixed(1)}%`;
                AvgOrderTotalsPercentage.classList.remove("bi-caret-down-fill");
                AvgOrderTotalsPercentage.classList.remove("bi-caret-up-fill");
                AvgOrderTotalsPercentage.classList.add("bi-dash");
            }
            else {
                percentage *= -1;
                AvgOrderTotalsPercentage.classList.remove("text-secondary");
                AvgOrderTotalsPercentage.classList.remove("text-success");
                AvgOrderTotalsPercentage.classList.add("text-danger");
                AvgOrderTotalsPercentage.innerHTML = `${percentage.toFixed(1)}%`;
                AvgOrderTotalsPercentage.classList.remove("bi-dash");
                AvgOrderTotalsPercentage.classList.remove("bi-caret-up-fill");
                AvgOrderTotalsPercentage.classList.add("bi-caret-down-fill");
            }
        }

        AvgOrderTotal.innerHTML = AvgOrderTotalsDay.toLocaleString();
        AvgOrderTotalsPercentageDisplay(AvgOrderTotalsPercentageDay);
        // 監聽篩選選單點擊事件
        AvgOrderTotalsList.addEventListener("click", function (event) {
            if (event.target.classList.contains("dropdown-item")) {
                let selectedText = event.target.innerText.trim(); // 取得選中的文字

                switch (selectedText) {
                    case "當日":
                        AvgOrderTotal.innerHTML = AvgOrderTotalsDay.toLocaleString();
                        AvgOrderTotalsPercentageDisplay(AvgOrderTotalsPercentageDay);
                        break;
                    case "當月":
                        AvgOrderTotal.innerHTML = AvgOrderTotalsMonth.toLocaleString();
                        AvgOrderTotalsPercentageDisplay(AvgOrderTotalsPercentageMonth);
                        break;
                    case "當年":
                        AvgOrderTotal.innerHTML = AvgOrderTotalsYear.toLocaleString();
                        AvgOrderTotalsPercentageDisplay(AvgOrderTotalsPercentageYear);
                        break;
                }

                // 更新標題顯示
                AvgOrderTotalsDate.innerHTML = `| ${selectedText}`;
            }
        });
    </script>
    <!--訂單卡片]-->
    <script>
        let Orders = document.getElementById("Orders");
        let OrdersList = document.getElementById("OrdersList");
        let OrdersPercentage = document.getElementById("OrdersPercentage");
        let OrdersDate = document.getElementById("OrdersDate");

        // 確保數據格式正確
        const OrdersYear = @Json.Serialize(Model.TotalOrdersYear);
        const OrdersMonth = @Json.Serialize(Model.TotalOrdersMonth);
        const OrdersDay = @Json.Serialize(Model.TotalOrdersDay);

        const OrdersPercentageYear = @ViewBag.OrdersPercentageYear;
        const OrdersPercentageMonth = @ViewBag.OrdersPercentageMonth;
        const OrdersPercentageDay = @ViewBag.OrdersPercentageDay;

        // 根據百分比變化更新顯示
        function OrdersPercentageDisplay(percentage) {
            if (percentage > 0) {
                OrdersPercentage.classList.remove("text-secondary");
                OrdersPercentage.classList.remove("text-danger");
                OrdersPercentage.classList.add("text-success");
                OrdersPercentage.innerHTML = `${percentage.toFixed(1)}%`;
                OrdersPercentage.classList.remove("bi-dash");
                OrdersPercentage.classList.remove("bi-caret-down-fill");
                OrdersPercentage.classList.add("bi-caret-up-fill");
            }
            else if (percentage == 0) {
                OrdersPercentage.classList.remove("text-success");
                OrdersPercentage.classList.remove("text-danger");
                OrdersPercentage.classList.add("text-secondary");
                OrdersPercentage.innerHTML = `${percentage.toFixed(1)}%`;
                OrdersPercentage.classList.remove("bi-caret-down-fill");
                OrdersPercentage.classList.remove("bi-caret-up-fill");
                OrdersPercentage.classList.add("bi-dash");
            }
            else {
                percentage *= -1;
                OrdersPercentage.classList.remove("text-secondary");
                OrdersPercentage.classList.remove("text-success");
                OrdersPercentage.classList.add("text-danger");
                OrdersPercentage.innerHTML = `${percentage.toFixed(1)}%`;
                OrdersPercentage.classList.remove("bi-dash");
                OrdersPercentage.classList.remove("bi-caret-up-fill");
                OrdersPercentage.classList.add("bi-caret-down-fill");
            }
        }

        Orders.innerHTML = OrdersDay.toLocaleString();
        OrdersPercentageDisplay(OrdersPercentageDay);
        // 監聽篩選選單點擊事件
        OrdersList.addEventListener("click", function (event) {
            if (event.target.classList.contains("dropdown-item")) {
                let selectedText = event.target.innerText.trim(); // 取得選中的文字

                switch (selectedText) {
                    case "當日":
                        Orders.innerHTML = OrdersDay.toLocaleString();
                        OrdersPercentageDisplay(OrdersPercentageDay);
                        break;
                    case "當月":
                        Orders.innerHTML = OrdersMonth.toLocaleString();
                        OrdersPercentageDisplay(OrdersPercentageMonth);
                        break;
                    case "當年":
                        Orders.innerHTML = OrdersYear.toLocaleString();
                        OrdersPercentageDisplay(OrdersPercentageYear);
                        break;
                }

                // 更新標題顯示
                OrdersDate.innerHTML = `| ${selectedText}`;
            }
        });
    </script>
    <!--會員數折線圖-->
    <script>

        let TotalMembersAll = @Html.Raw(JsonSerializer.Serialize(Model.TotalMembersAll));
        let TotalMembersYear = @Html.Raw(JsonSerializer.Serialize(Model.TotalMembersYear));
        let TotalMembersMonth = @Html.Raw(JsonSerializer.Serialize(Model.TotalMembersMonth));
        let AllLabel = @Html.Raw(JsonSerializer.Serialize(Model.AllMembersLabels));
        let MonthLabel = @Html.Raw(JsonSerializer.Serialize(
        Enumerable.Range(0, 30).Select(i => DateTime.Now.AddDays(-i)).Reverse().Select((date, index) => (date.Day == 1 || index == 0) ? date.ToString("MM/dd") : date.ToString("dd")).ToList()));
        let YearLabel = @Html.Raw(JsonSerializer.Serialize(
        Enumerable.Range(0, 12).Select(i => DateTime.Now.AddMonths(-i)).Reverse().Select(date => (date.Month == 1 || date == DateTime.Now.AddMonths(-11)) ? date.ToString("yyyy/MM") : date.ToString("MM")).ToList()));
        let chart;
        let maxAll = Math.max(...TotalMembersAll, 5); // 取得最大值
        let maxYAll = Math.ceil(maxAll / 5) * 5; // 計算接近的 5 的倍數
        let maxYear = Math.max(...TotalMembersYear, 5); // 取得最大值
        let maxYYear = Math.ceil(maxYear / 5) * 5; // 計算接近的 5 的倍數
        let maxMonth = Math.max(...TotalMembersMonth, 5); // 取得最大值
        let maxYMonth = Math.ceil(maxMonth / 5) * 5; // 計算接近的 5 的倍數
        function MemberCountMonth() {
            if (chart) chart.destroy();
            chart = new ApexCharts(document.querySelector("#LineChart"), {
                series: [{
                    name: "會員",
                    data: TotalMembersMonth
                }],
                chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    toolbar: {
                        show: false
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'straight'
                },
                grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                },
                xaxis: {
                    categories: MonthLabel
                },
                yaxis: {
                    min: 0, // 最小值固定為 0
                    max: maxYMonth,
                    tickAmount: 5, // 總共 5 個刻度
                    labels: {
                        formatter: function (value) {
                            return Math.round(value); // 確保是整數
                        }
                    }
                },
                tooltip: {
                    enabled: true,
                    followCursor: true,
                    custom: function ({ series, seriesIndex, dataPointIndex, w }) {
                        let xLabel = MonthLabel[dataPointIndex];
                        let value = series[seriesIndex][dataPointIndex];

                        return `<div class="custom-tooltip">
                                                                                    <strong>${xLabel} 號</strong> <br>
                                                                                    會員數: <span style="color:#ff4560;">${value} 位</span>
                                                                                </div>`;
                    }
                }
            });
            chart.render();
        }
        function MemberCountYear() {
            if (chart) chart.destroy();
            chart = new ApexCharts(document.querySelector("#LineChart"), {
                series: [{
                    name: "會員",
                    data: TotalMembersYear
                }],
                chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    toolbar: {
                        show: false
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'straight'
                },
                grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                },
                xaxis: {
                    categories: YearLabel
                },
                yaxis: {
                    min: 0, // 最小值固定為 1
                    max: maxYYear, // 由 Razor 計算出來
                    tickAmount: 5, // 總共 5 個刻度
                    labels: {
                        formatter: function (value) {
                            return Math.round(value); // 確保是整數
                        }
                    }
                },
                tooltip: {
                    enabled: true,
                    followCursor: true,
                    custom: function ({ series, seriesIndex, dataPointIndex, w }) {
                        let xLabel = YearLabel[dataPointIndex];
                        let value = series[seriesIndex][dataPointIndex];

                        return `<div class="custom-tooltip">
                                                                                            <strong>${xLabel} 月</strong> <br>
                                                                                            會員數: <span style="color:#ff4560;">${value} 位</span>
                                                                                        </div>`;
                    }
                }
            });
            chart.render();
        }
        function MemberCountAll() {
            if (chart) chart.destroy();
            chart = new ApexCharts(document.querySelector("#LineChart"), {
                series: [{
                    name: "會員",
                    data: TotalMembersAll
                }],
                chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    },
                    toolbar: {
                        show: false
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'straight'
                },
                grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                },
                xaxis: {
                    categories: AllLabel
                },
                yaxis: {
                    min: 0, // 最小值固定為 1
                    max: maxAll, // 由 Razor 計算出來
                    tickAmount: 5, // 總共 5 個刻度
                    labels: {
                        formatter: function (value) {
                            return Math.round(value); // 確保是整數
                        }
                    }
                },
                tooltip: {
                    enabled: true,
                    followCursor: true,
                    custom: function ({ series, seriesIndex, dataPointIndex, w }) {
                        let xLabel = AllLabel[dataPointIndex];
                        let value = series[seriesIndex][dataPointIndex];

                        return `<div class="custom-tooltip">
                                                                                            <strong>${xLabel} 年</strong> <br>
                                                                                            會員數: <span style="color:#ff4560;">${value} 位</span>
                                                                                        </div>`;
                    }
                }
            });
            chart.render();
        }

        document.addEventListener("DOMContentLoaded", () => {
            MemberCountAll();
        })

        $(function () {
            $("#MembersList").on("click", (e) => {
                e.preventDefault();
                let date = e.target.textContent.trim();
                $("#MembersDate").text(`/${date}`);
                switch (date) {

                    case "最近一個月內":
                        MemberCountMonth();
                        break;
                    case "最近一年內":
                        MemberCountYear();
                        break;
                    case "不限":
                        MemberCountAll();
                        break;

                }
            })
        })
    </script>
    <!--通知-->
    <script>
        function NotificationRefresh() {
            var orders = @Html.Raw(JsonSerializer.Serialize(Model.UnDoneOrder)); // 確保不為 null
            console.log(orders);

            $("#notification").empty(); // 清空通知內容

            if (!orders || orders.length === 0) {
                // 若沒有未處理訂單，顯示提示訊息
                $("#notification").append(`
                                                                                <div class="text-center p-3">
                                                                                    <i class="bi bi-check-circle text-success"></i>
                                                                                    <p class="fs-6" style="color:#707070;">目前沒有未處理訂單</p>
                                                                                </div>
                                                                            `);
            } else {
                $.each(orders, function (index, item) {
                    var html = `
                                                                                    <div class="notification-item px-0 py-2">
                                                                                        <i class="bi bi-exclamation-circle-fill text-warning"></i>
                                                                                        <div>
                                                                                            <h3 style="color:darkred;">訂單未處理</h3>
                                                                                                    <a href="/Order/List" class="fs-6" style="color:#707070;">訂單編號: ${item} 已超過三天未出貨</a>
                                                                                        </div>
                                                                                            </div>
                                                                                    <div><hr class="my-2" /></div>`;

                    $("#notification").append(html); // 將 HTML 插入通知區塊
                });
            }
        }

        $(document).ready(function () {
            NotificationRefresh(); // 頁面載入時執行
        });
    </script>
    <!--銷售類別排行圓餅圖-->
    <script>
        let PChart;
        let SellingClassYear = @Html.Raw(JsonSerializer.Serialize(Model.SellingClassYear));
        let SellingClassMonth = @Html.Raw(JsonSerializer.Serialize(Model.SellingClassMonth));
        let SellingClassAll = @Html.Raw(JsonSerializer.Serialize(Model.SellingClassAll));
        function PieYear() {
            if (PChart) PChart.destroy();
            PChart = new ApexCharts(document.querySelector("#PieChart"), {
                series: SellingClassYear,
                chart: {
                    width: 380,
                    type: 'pie',
                },
                labels: ['根莖', '葉菜', '水果', '蕈菇', '蔬菜箱', '其他'],
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            });
            PChart.render();
        }
        function PieMonth() {
            if (PChart) PChart.destroy();
            PChart = new ApexCharts(document.querySelector("#PieChart"), {
                series: SellingClassMonth,
                chart: {
                    width: 380,
                    type: 'pie',
                },
                labels: ['根莖', '葉菜', '水果', '蕈菇', '蔬菜箱', '其他'],
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            });
            PChart.render();
        }
        function PieAll() {
            if (PChart) PChart.destroy();
            PChart = new ApexCharts(document.querySelector("#PieChart"), {
                series: SellingClassAll,
                chart: {
                    width: 380,
                    type: 'pie',
                },
                labels: ['根莖', '葉菜', '水果', '蕈菇', '蔬菜箱', '其他'],
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            });
            PChart.render();
        }
        document.addEventListener("DOMContentLoaded", () => {
            PieAll();
        });
        $(function () {
            $("#SalesClassList").on("click", (e) => {
                e.preventDefault();
                let SalesClassDate = e.target.textContent.trim();
                $("#SalesClassDate").text(`| ${SalesClassDate}`);
                switch (SalesClassDate) {
                    case "不限":
                        PieAll();
                        break;
                    case "當月":
                        PieMonth();
                        break;
                    case "當年":
                        PieYear();
                        break;
                }
            })
        })
    </script>
    <!--銷售排行-->
    <script>
        var BestSellingProductYear = @Html.Raw(JsonSerializer.Serialize(Model.BestSellingProductYear));
        var BestSellingProductMonth = @Html.Raw(JsonSerializer.Serialize(Model.BestSellingProductMonth));
        var BestSellingProductAll = @Html.Raw(JsonSerializer.Serialize(Model.BestSellingProductAll));
        function SalesRank(products) {
            var count = 0;
            // 清空表格內容
            $('#SalesRank').empty();
            // 遍歷 products 並插入到表格中
            $.each(products, function (index, product) {
                count++;
                var row = $('<tr></tr>');  // 創建一行
                var countCell = $('<td></td>').text(index + 1);  // 使用 index 作為序號 (從1開始)
                row.append(countCell);
                var productNameCell = $('<td></td>').text(product.ProductName); // 商品名稱
                row.append(productNameCell);

                var totalSoldCell = $('<td></td>').text(product.Total); // 總銷售數量
                row.append(totalSoldCell);

                var totalRevenueCell = $('<td></td>').text(product.TotalSum); // 總營收
                row.append(totalRevenueCell);

                $('#SalesRank').append(row); // 將這一行加入到表格中
            });
        }
        document.addEventListener("DOMContentLoaded", () => {
            SalesRank(BestSellingProductAll);
        });
        $(function () {
            $("#SalesRankList").on("click", (e) => {
                e.preventDefault();
                let SalesRankDate = e.target.textContent.trim();
                $("#SalesRankDate").text(`| ${SalesRankDate}`);
                switch (SalesRankDate) {
                    case "不限":
                        SalesRank(BestSellingProductAll);
                        break;
                    case "當月":
                        SalesRank(BestSellingProductMonth);
                        break;
                    case "當年":
                        SalesRank(BestSellingProductYear);
                        break;
                }
            })
        })
    </script>
    <!--最受歡迎-->
    <script>
        var MostPopularProduct = @Html.Raw(JsonSerializer.Serialize(Model.MostPopularProduct));
        function LikesRank(products) {
            var count = 0;
            // 清空表格內容
            $('#LikesRank').empty();
            // 遍歷 products 並插入到表格中
            $.each(products, function (index, product) {
                count++;
                var row = $('<tr></tr>');  // 創建一行
                var countCell = $('<td></td>').text(index + 1);  // 使用 index 作為序號 (從1開始)
                row.append(countCell);
                var productNameCell = $('<td></td>').text(product.ProductName); // 商品名稱
                row.append(productNameCell);

                var totalLikesCell = $('<td></td>').text(product.Likes);
                row.append(totalLikesCell);


                var totalRateCell = $('<td></td>');
                var starContainer = $('<p class="d-inline-flex star-averating"></p>');

                var starValue = product.Star;
                var wholeStars = Math.floor(starValue); // 整數部分
                var halfStar = (starValue - wholeStars) >= 0.5 ? true : false; // 判斷是否有半顆星

                for (var i = 1; i <= 5; i++) {
                    if (i <= wholeStars) {
                        starContainer.append('<i class="bi bi-star-fill"></i>'); // 滿星
                    } else if (halfStar && i === wholeStars + 1) {
                        starContainer.append('<i class="bi bi-star-half"></i>'); // 半顆星
                        halfStar = false; // 只顯示一顆半星
                    } else {
                        starContainer.append('<i class="bi bi-star"></i>'); // 空星
                    }
                }

                totalRateCell.append(starContainer);
                totalRateCell.append(' ' + starValue.toFixed(1)); // 顯示數字，確保只有 .0 和 .5
                row.append(totalRateCell);


                $('#LikesRank').append(row); // 將這一行加入到表格中
            });
        }
        document.addEventListener("DOMContentLoaded", () => {
            LikesRank(MostPopularProduct);
        });
    </script>
}