@model IEnumerable<prjVegetable.Models.CCommentWrap>

@{
    ViewData["Title"] = "CommentIndex";
}
<style>
    .star-yellow {
        color: #ffb400; 
    }
</style>
<h1 class="mt-5">我的評論</h1>
<hr />
<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <nav class="nav flex-column">
                <a class="nav-link" asp-controller="Customer" asp-action="Index">會員資料</a>
                <a class="nav-link" asp-controller="Customer" asp-action="Order">訂單紀錄</a>
                <a class="nav-link" asp-controller="Customer" asp-action="Report">問題回報</a>
                <a class="nav-link" asp-controller="Customer" asp-action="Favorite">我的最愛</a>
                <a class="nav-link" asp-controller="Customer" asp-action="CommentIndex">我的評論</a>
                <a class="nav-link text-danger" asp-controller="Account" asp-action="LogOut">登出</a>
            </nav>
        </div>
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        @* <th>
                            @Html.DisplayNameFor(model => model.FId)
                        </th> *@
                        <th>
                            @Html.DisplayNameFor(model => model.FOrderId)
                        </th>
                        @* <th>
                            @Html.DisplayNameFor(model => model.FPersonId)
                        </th> *@
                        @* <th>
                            @Html.DisplayNameFor(model => model.FPersonName)
                        </th> *@
                        @* <th>
                            @Html.DisplayNameFor(model => model.FProductId)
                         </th>  *@
                        <th>
                            @Html.DisplayNameFor(model => model.FProductName)
                        </th>
                        @* <th> 
                             @Html.DisplayNameFor(model => model.FOrderListId) 
                         </th>  *@
                        <th>
                            @Html.DisplayNameFor(model => model.FComment)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FStar)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @* <td> 
                                     @Html.DisplayFor(modelItem => item.FId) 
                                 </td> *@
                            <td>
                                @Html.DisplayFor(modelItem => item.FOrderId)
                            </td>
                            @* <td> 
                                     @Html.DisplayFor(modelItem => item.FPersonId) 
                                 </td>  *@
                            @* <td> 
                                     @Html.DisplayFor(modelItem => item.FPersonName) 
                                 </td>  *@
                            @* <td> 
                                     @Html.DisplayFor(modelItem => item.FProductId) 
                                 </td>  *@
                            <td>
                                @Html.DisplayFor(modelItem => item.FProductName)
                            </td>
                            @* <td> 
                                     @Html.DisplayFor(modelItem => item.FOrderListId) 
                                 </td> *@ 
                                     <td>
                                @Html.DisplayFor(modelItem => item.FComment)
                            </td>
                            <td>
                                @* @Html.DisplayFor(modelItem => item.FStar) *@
                                <p>
                                    <small>
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= item.FStar)
                                            {
                                                <i class="bi bi-star-fill text-warning"></i>
                                            }
                                            else if (i == item.FStar + 0.5)
                                            {
                                                <i class="bi bi-star-half text-warning"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-star text-warning"></i>
                                            }
                                        }
                                    </small>
                                </p>
                            </td>
                            @* <td> 
                                     @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | 
                                     @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | 
                                     @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) 
                                 </td>  *@
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


@* <p> *@
@*     <a asp-action="Create">Create New</a> *@
@* </p> *@

