@model IEnumerable<prjVegetable.Models.COrderWrap>

@{
    ViewData["Title"] = "Order";
}

<h1 class="mt-5">訂單紀錄</h1>
<hr />
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <nav class="nav flex-column align-items-start">
                <a class="nav-link" asp-controller="Customer" asp-action="Index">會員資料</a>
                <a class="nav-link" asp-controller="Customer" asp-action="Order">訂單紀錄</a>
                <a class="nav-link" asp-controller="Customer" asp-action="Report">問題回報</a>
                <a class="nav-link" asp-controller="Customer" asp-action="Favorite">我的最愛</a>
                <a class="nav-link" asp-controller="Customer" asp-action="CommentIndex">我的評論</a>
            </nav>
        </div>
        <div class="col-md-9">
            <table class="table" id="List">
                <thead>
                    <tr>
                        <th>
                            序
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FTotal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FOrderAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FReceiverName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FPhone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FNote)
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 0;
                        foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                @switch(item.FStatus){
                                    case 0:
                                        <td>
                                            處理中
                                        </td>
                                        break;
                                    case 1:
                                        <td>
                                            已確認
                                        </td>
                                        break;
                                    case 2:
                                        <td>
                                            已完成
                                        </td>
                                        break;
                                    case 3:
                                        <td>
                                            已取消
                                        </td>
                                        break;
                                }
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.FTotal)元
                                </td> 
                                <td>
                                    @Html.DisplayFor(modelItem => item.FOrderAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FReceiverName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FPhone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FNote)
                                </td>
                                <td>
                                    @Html.ActionLink("訂單詳細資料", "OrderDetail", new { id = item.FId })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#List').DataTable({
                "paging": true, // 啟用分頁
                "lengthChange": false, // 允許用戶改變每頁顯示數量
                "searching": true, // 啟用搜尋
                "ordering": true, // 啟用排序
                "info": true, // 顯示資訊
                "autoWidth": false, // 禁用自動調整寬度
                "language": {
                    "emptyTable": "目前沒有任何資料",
                    "lengthMenu": "顯示 _MENU_ 筆資料",
                    "zeroRecords": "沒有符合的資料",
                    "info": "顯示第 _START_ 到 _END_ 筆，共 _TOTAL_ 筆",
                    "infoEmpty": "",
                    "infoFiltered": "(從 _MAX_ 筆資料過濾)",
                    "search": "搜尋：",
                    "paginate": {
                        "first": "第一頁",
                        "last": "最後一頁",
                        "next": "下一頁",
                        "previous": "上一頁"
                    }
                },
                "lengthMenu": [5, 10, 25, 50], // 選擇每頁顯示 5, 10, 25, 50 筆
                "lengthChange": true, // 允許改變筆數
                "columnDefs": [
                    { "orderable": false, "targets": [-1] }
                ],
                "order": []
            });
        });
    </script>
}
