@model IEnumerable<prjVegetable.Models.COrderListWrap>

@{
    ViewData["Title"] = "OrderDetail";
}

<h1 class="mt-5">訂單細項</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <nav class="nav flex-column align-items-start">
                <a class="nav-link" asp-controller="Customer" asp-action="Index">會員資料</a>
                <a class="nav-link" asp-controller="Customer" asp-action="Order">訂單紀錄</a>
                <a class="nav-link" asp-controller="Customer" asp-action="Report">問題回報</a>
            </nav>
        </div>
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            序
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FOrderId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FProductId)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.FPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FCount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FSum)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 0;
                        foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FOrderId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FProductId)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.FPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FSum)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div>
                <a asp-action="Order">返回</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

