@model IEnumerable<prjVegetable.Models.COrderListWrap>

@{
    ViewData["Title"] = "OrderDetail";
}


<h1 class="mt-5">訂單細項</h1>
<hr />
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2">
            <nav class="nav flex-column align-items-start">
                <a class="nav-link" asp-controller="Customer" asp-action="Index">會員資料</a>
                <a class="nav-link" asp-controller="Customer" asp-action="Order">訂單紀錄</a>
                <a class="nav-link" asp-controller="Customer" asp-action="Report">問題回報</a>
                <a class="nav-link" asp-controller="Customer" asp-action="Favorite">我的最愛</a>
                <a class="nav-link" asp-controller="Customer" asp-action="CommentIndex">我的評論</a>
            </nav>
        </div>
        <div class="col-md-10">
            <table class="table" id="List">
                <thead>
                    <tr>
                        <th>
                            序
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FOrderId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FCount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FSum)
                        </th>
                        <th>
                            評論
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 0;
                        foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FOrderId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.FPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FSum)
                                </td>
                                <td>
                                    @if (item.OrderStatus == 2)
                                    {
                                        @if (item.HasComment)
                                        {
                                            <a asp-action="CommentIndex" asp-route-id="@item.orderList.FId" class="btn btn-secondary mb-2">查看評論</a>
                                        }
                                        else
                                        {
                                            <a asp-action="AddComment" asp-route-id="@item.orderList.FId" class="btn btn-secondary mb-2">評論</a>
                                        }
                                    }
                                    else
                                    {
                                        <p>訂單尚未完成</p>
                                    }
                                </td>

                            </tr>

                        }
                    }
                </tbody>
            </table>
            <div>
                <a asp-action="Order">返回</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#List').DataTable({
                "paging": true, // 啟用分頁
                "lengthChange": false, // 允許用戶改變每頁顯示數量
                "searching": true, // 啟用搜尋
                "ordering": true, // 啟用排序
                "info": true, // 顯示資訊
                "autoWidth": false, // 禁用自動調整寬度
                "language": {
                    "emptyTable": "目前沒有任何資料",
                    "lengthMenu": "顯示 _MENU_ 筆資料",
                    "zeroRecords": "沒有符合的資料",
                    "info": "顯示第 _START_ 到 _END_ 筆，共 _TOTAL_ 筆",
                    "infoEmpty": "",
                    "infoFiltered": "(從 _MAX_ 筆資料過濾)",
                    "search": "搜尋：",
                    "paginate": {
                        "first": "第一頁",
                        "last": "最後一頁",
                        "next": "下一頁",
                        "previous": "上一頁"
                    }
                },
                "lengthMenu": [5, 10, 25, 50], // 選擇每頁顯示 5, 10, 25, 50 筆
                "lengthChange": true, // 允許改變筆數

            });
        });
    </script>
}

