@model IEnumerable<prjVegetable.Models.CInvoiceWrap>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>發票管理</h1>
@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢">
}

<p>
    <a asp-action="Create">新增發票</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FForm)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FCustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCustomerUbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FProviderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCustomerUbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FInOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEditor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FForm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FCustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FCustomerUbn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FProviderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FProviderUbn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FInOut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FEditor)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id = item.FId }) |
                        @Html.ActionLink("刪除", "Delete", new { id = item.FId }, new { onclick = "return confirm('確定要刪除嗎?')" })

                    </td>
                </tr>
            }

        }
    </tbody>
</table>
