@model prjVegetable.Models.CPersonWrap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutERP.cshtml";
}

<h1>人員詳細資料</h1>
<br />
<div>
   <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.person.FPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FUbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPermission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FPermission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEmp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FEmp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEmpTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FEmpTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEditor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.person.FEditor)
        </dd>
    </dl>
</div>
<div>
  
    <a asp-action="Index" class="btn btn-outline-primary">回員工與會員列表</a>
    <a asp-action="Edit" asp-route-id="@Model?.FId" class="btn btn-primary">編輯資料</a>
</div>


